@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-container {
    max-width: 336px;
    background-color: #fff;
    margin: 0px 20px;
    padding: 23px;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.card-container > img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card-container .card-type {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 900;
    margin-bottom: 15px;
}

.card-container .card-date {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}

.card-container .card-title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.card-container .card-descrition {
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px
}

.card-container .card-credits {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-container .card-credits > img {
    width: 32px;
    height: 32px;
}

.card-container .card-credits .card-autor {
    font-size: 16px;
    font-weight: 900;
}